.background {
  width: 1920px;
  height: 1080px;
  background-image: url(/Assets/1627078466_15-kartinkin-com-p-kontsertnii-zal-art-art-krasivo-15.jpg);
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.notes {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  background: #eee8aa;
  width: 8em;
  height: 8em;
  border: 5px solid yellowgreen;
}

.notes:hover {
  background-color: #bdb76b;
  border: 8px solid yellow;
}

.transform {
  transform: scale(1.5);
}
